{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="rs-breadcrumbs img1" 
style="position: relative;background:url({% static 'team.jpg' %})" >
   <div class="bread-crumb-cover" 
   style="position: absolute;background-color:rgba(0, 0, 0, 0.322);top:0;left:0;width:100%;height:100%;"></div>
    <div class="breadcrumbs-inner text-center">
        <h1 class="page-title" style="position:relative;z-index:10;">SOLUTION</h1>
        <!-- <ul>
            <li title="Braintech - IT Solutions and Technology Startup HTML Template">
                <a class="active" href="">Home</a>
            </li>
            <li>About</li>
        </ul> -->
    </div>
</div>
	
  

            <!-- About Section Start -->
            <div class="rs-about pt-120 pb-120 md-pt-80 md-pb-80" >
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
                            <div class="sec-title4">
                                <!-- <span class="sub-text">Software Development</span> -->
                                <h2 class="title" >{{ solution.heading }}</h2>
                                <div class="heading-line"></div>
                              
                             
                                
                                
                                {% for content  in solution_para %}
                                <div class="desc">
                                    {{ content.paragraph }}
                                </div>
                                {% endfor %}
                                    
                                
                            
                                
                                <div class="btn-part mt-45">
                                    <a class="readon learn-more" href="{% url 'contact' %}">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="software-img">
                                <img src="{% static 'solutionDetail.jpg' %}" alt="images">
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- <div class="rs-services style5 pt-120 md-pt-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 md-mb-30">
                                <div class="services-item">
                                    <div class="services-icon">
                                       <img src="assets/images/services/style7/1.png" alt="Images"> 
                                    </div>
                                    <div class="services-content">
                                        <h3 class="services-title"><a href="web-development.html">Expert Peoples</a></h3>
                                        <p class="services-desc">
                                            At vero eos et accusamus etiusto odio praesentium.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 md-mb-30">
                                <div class="services-item">
                                    <div class="services-icon">
                                       <img src="assets/images/services/style7/2.png" alt="Images"> 
                                    </div>
                                    <div class="services-content">
                                        <h3 class="services-title"><a href="web-development.html">First Growing Process</a></h3>
                                        <p class="services-desc">
                                            At vero eos et accusamus etiusto odio praesentium.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="services-item">
                                    <div class="services-icon">
                                       <img src="assets/images/services/style7/3.png" alt="Images"> 
                                    </div>
                                    <div class="services-content">
                                        <h3 class="services-title"><a href="web-development.html">Creative Ideas</a></h3>
                                        <p class="services-desc">
                                            At vero eos et accusamus etiusto odio praesentium.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>  -->
                <!-- Services Section End -->
            </div>
            <!-- About Section End -->


         


            
{% endblock content %}


