{% extends 'base.html' %}
{% load static %}


{% block content %}



<div class="rs-why-choose style2 gray-color rs-rain-animate pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 md-mb-30">
                <div class="sec-title mb-40">
                    <div class="sub-text style4-bg left">Let's Talk</div>
                    <h2 class="title pb-20">
                        Speak With Our Expert.
                    </h2>
                    <!-- <div class="desc">
                        We would love to hear from you!! Book a App
                    </div> -->
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'assets/images/choose/icons/style2/1.png' %}" alt="">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Email</a></h3>
                        <p class="services-txt">info@emetricsuite.com</p>
                    </div>
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'assets/images/choose/icons/style2/2.png' %}" alt="">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Call Us</a></h3>
                        <p class="services-txt"> +234 705 333 5000</p>
                        <p class="services-txt"> +1 616 541 478</p>
                    </div>
                </div>
                <div class="services-wrap">
                    <div class="services-icon">
                        <img src="{% static 'assets/images/choose/icons/style2/3.png' %}" alt="">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Office Address</a></h3>
                        <p class="services-txt">
                        
                            9304 Forest lane, Suite S207, <br>
                             Dallas, Texas 75243
                        
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="rs-contact mod1">
                    <!-- <div class="contact-wrap">
                       <div class="content-part mb-25">
                           <h2 class="title mb-15">Schedule Appointment</h2>
                           <p class="desc">We here to help you 24/7 with experts</p>
                       </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="https://rstheme.com/products/html/braintech/mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-25 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="Website" name="subject" placeholder="Your Website" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="submit-btn orange-btn" type="submit" value="Submit Now">
                                </div>
                            </fieldset>
                        </form> 
                    </div> -->


                     <div class="contact-wrap">
                       <div class="content-part mb-25">
                           <h2 class="title mb-15" style="width:100%;height:100%;">Work with 
                                <img style="width:20%;height:100%;" class="normal-logo" src="{% static 'assets/emtrics.svg' %}" alt="logo"></h2>
                           <p class="desc">fill your information below </p>
                       </div>
                        <div id="form-messages"></div>
                        <form  method="post" action="{% url 'work-with-emetric' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>   

                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <label>Upload cv</label>
                                        <input class="from-control" 
                                        type="file" id="phone" name="cv_doc" 
                                        placeholder="Phone Number" required="">
                                    </div>   
                                    <!-- <div class="col-lg-12 mb-25 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="Website" name="subject" placeholder="Your Website" required="">
                                    </div> -->
                                </div>
                                <div class="form-group mb-0">
                                    <input class="submit-btn orange-btn" type="submit" value="Submit Now">
                                </div>
                            </fieldset>
                        </form> 

                        

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
                

{% endblock content %}